.info-name, .gallery-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.gallery .images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.gallery .images .image-data {
    margin: 5px;
    border-radius: 8px;
    cursor: pointer;
}

.hide {
    display: none;
}

/* Image show */
.image-show {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #000000cc;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-show img {
    max-width: 100%;
    max-height: 100%;
    box-shadow: 0px 0px 35px #00000099;
    border-radius: 8px;
}

.image-cotent {
    background: #fff;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hide-image {
    display: none;
}