.book {
    height: fit-content;
    border-bottom: 1px solid #ddd;
    display: flex;
    cursor: pointer;
    background: #fff;
}

.book:hover {
    background: #fff9c4;
    color: #000;
}

.image-data {
    border-radius: 4px 0 0 4px;
}

@media only screen and (max-width: 950px) {
    .book {
        height: fit-content;
        border-radius: 8px 8px 0 0;
        display: flex;
        flex-direction: column;
    }

    .image-data {
        width: 100%;
        height: 150px;
        margin: auto;
        border-radius: 8px 8px 0 0;
    }
}


.hide {
    display: none;
}