.book {
    height: fit-content;
    border-radius: 8px;
    display: flex;
    cursor: pointer;
    background: #fff;
    box-shadow: 0 0 5px #9e9e9e;
}

.book:hover {
    background: #F18701;
    color: #fff;
}

.image-data {
    border-radius: 8px;
}

.hide {
    display: none;
}