<div class="form-login">
    <form action="" method="post">
        <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input type="text" class="form-control" id="username" placeholder="Username">
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Senha</label>
            <input type="password" class="form-control" id="password" placeholder="password">
        </div>
        <button type="submit" class="btn my-3">Entrar</button>
    </form>
    <button class="btn" [routerLink]="['/login/registrar']">Ainda não possui cadastro<br>Clique aqui para se registrar</button>
</div>