<main>
    <div class="friend-information">
        <div class="show-mobile-only">
            <div class="accordion" id="accordionRequests">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingTwo">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo"
                            [ngClass]="{'collapsed': !showAccordion}"
                            (click)="showAccordion = true"
                            >
                            Meus amigos
                        </button>
                    </h2>
                    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                        data-bs-parent="#accordionExample" [ngClass]="{'show': showAccordion}">
                        <div class="accordion-body">
                            <div class="header-friends py-3">
                                Adicionar
                                <button class="btn btn-primary-color" (click)="openFriendFormModal()">
                                    <i class="fas fa-plus"></i>
                                </button>
                            </div>
                            <div *ngFor="let item of friends" (click)="selectFriend(item)">
                                <app-friend-item [name]=item.name [image]=item.image
                                    [selected]="selectedFriend.id == item.id">
                                </app-friend-item>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="header py-4 primary-color"
            [ngClass]="{'hide': selectedBook.id != null || selectedFriend.id == null}">
            <div class="avatar"
                style="background-image: url(https://cdn-icons-png.flaticon.com/512/5659/5659475.png); background-size: cover; width: 150px; height: 150px; border-radius: 50%;">
            </div>
            <div class="info-name py-3">
                <h1 class="title" [ngClass]="{'hide': selectedBook.id != null || selectedFriend.id == null}">
                    {{selectedFriend.name}}</h1>
                <button (click)="requestSpouse(selectedFriend.id!)" class="btn mt-2 btn-accent-color" [ngClass]="{'hide': selectedBook.id != null || selectedFriend.id == null || selectedFriend.spouse !=
                    undefined}">
                    Solicitar casamento
                </button>
                <h5 [ngClass]="{'hide': selectedFriend.spouse == undefined}">
                    <span class="badge bg-success">Cônjuge: {{selectedFriend.spouse}}</span>
                </h5>
            </div>
        </div>

        <div class="info p-3">
            <div class="books">
                <div class="no-content" [ngClass]="{'hide': selectedFriend.id != null}">
                    <h5>Nenhum amigo selecionado <br>selecione um amigo do lado direito da página para mais detalhes
                    </h5>
                </div>
                <app-book-item *ngFor="let item of selectedFriend.books" [book]="item"
                    [hide]="selectedBook.id != null && selectedBook.id != item.id" (click)="selectBook(item)">
                </app-book-item>
            </div>
            <div class="gallery p-4" [ngClass]="{'hide': selectedBook.id == null}">
                <div class="header p-3">
                    <p class="title">Galeria de fotos</p>
                    <button class="btn btn-primary-color" (click)="openPhotoFormModal()">
                        <i class="fas fa-plus"></i> Foto
                    </button>
                </div>
            </div>
            <app-gallery [images]="selectedBook.photos" [hide]="false" [hideImages]="true"
            [showControls]="false"></app-gallery>
        </div>
    </div>
    
    <div class="friend-container hide-mobile-only">
        <div class="header-friends container py-3">
            <h1 class="title">Meus amigos</h1>
            <button class="btn btn-primary-color mx-3" (click)="openFriendFormModal()">
                <i class="fas fa-plus"></i>
            </button>
        </div>
        <div class="friend-list">
            <div *ngFor="let item of friends" (click)="selectFriend(item)">
                <app-friend-item [name]=item.name [image]=item.image [selected]="selectedFriend.id == item.id">
                </app-friend-item>
            </div>
        </div>
    </div>
</main>

<app-add-friend-form [hide]="hideFriendFormModal" (emitClose)="closeFriendFormModal()"></app-add-friend-form>
<app-add-photo-form [hide]="hidePhotoFormModal" (emitClose)="closePhotoFormModal()" [book]="selectedBook!"></app-add-photo-form>