<main [ngClass]="{'selected': selected}" >
    <div class="info">
        <div class="avatar" style="background-image: url(https://cdn-icons-png.flaticon.com/512/5659/5659475.png); background-size: cover; width: 40px; height: 40px; border-radius: 50%;"></div>
        <p>{{ name }}</p>
    </div>
    <div class="options" [ngClass]="{'hide': !showOptions}">
        <button class="btn btn-success" (click)="acceptEmit()"><i class="fas fa-check"></i></button>
        <button class="btn btn-danger" (click)="rejectEmit()"><i class="fas fa-times"></i></button>
    </div>
</main>