.menu-item {
    min-width: 250px;
    width: 100%;
    padding: 16px;
    cursor: pointer;
}

.active {
    background: #F18701;
    color: cornsilk;
}

@media only screen and (max-width: 750px) {
    .menu-item {
        width: 100vw;
    }
}