main {
    display: flex;
    align-items: center;
    padding: 8px;
    cursor: pointer;
}

main:hover {
    background: #eee;
}

.avatar {
    margin-right: 16px;
}

main p {
    margin: auto 0;
    font-weight: 500;
}

.selected {
    background: #F18701;
    color: white;
}

.selected:hover {
    background: #F18701;
    color: white;
}