main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    cursor: pointer;
    border-top: 1px solid #eee;
}

main:hover {
    background: #eee;
}

.avatar {
    margin-right: 16px;
}

main p {
    margin: auto 0;
    font-weight: 500;
}

.striped {
    background: #ddd;
}

.selected {
    background: #F18701;
    color: white;
}

.selected:hover {
    background: #F18701;
    color: white;
}

.info {
    display: flex;
    align-items: center;
    padding: 8px;
}

.options {
    display: flex;
}

.options .btn {
    margin-left: 4px;
    font-size: .6rem;
}

.hide {
    display: none;
}