@import url('https://fonts.googleapis.com/css2?family=Glory&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Glory', sans-serif;
}

* {
    letter-spacing: 0.06em;
    line-height: 1.5rem;
}

body {
    background: #eceff1;
}

.primary-color {
    background: #3D348B;
}

.accent-color {
    background: #F18701;
}

.disable-color {
    background: #ccc;
}

.danger-color {
    background: #CF4F2A;
}

.btn-primary-color {
    background: #3D348B;
    color: #fff;
    font-weight: 600;
}

.btn-primary-color:hover {
    background: #2e21a3;
    color: #fff;
}

.btn-accent-color {
    background: #F18701;
    color: #fff;
    font-weight: 600;
}

.btn-accent-color:hover {
    background: #fc9f25;
    color: #fff;
}

.input-error {
    margin: 0;
    font-size: 10pt;
    color: #CF4F2A;
}

.hide {
    display: none;
}

/* Fonts */

.title {
    font-style: normal;
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 21px;
    margin-top: auto;
}

.subtitle {
    font-style: normal;
    font-weight: 300;
    font-size: 1.4rem;
    line-height: 16px;
}

/* Scrollbar */

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #3D348B;
    width: 10px;
}

