main {
    height: 100vh;
    overflow: hidden;
}

.page {
    display: flex;
}

.content {
    padding: 24px;
    width: 100vw;
    height: calc(100vh - 65px);
}

@media only screen and (max-width: 950px) {
    .content {
        padding: 0px;
        width: 100vw;
        height: calc(100vh - 65px);
    }   
}