<div class="form-register">
    <form action="" method="post">
        <div class="mb-3">
            <label for="name" class="form-label">Nome</label>
            <input type="text" class="form-control" id="name" placeholder="Nome completo">
        </div>
        <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input type="text" class="form-control" id="username" placeholder="Username">
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Senha</label>
            <input type="password" class="form-control" id="password" placeholder="Senha">
        </div>
        <div class="mb-3">
            <label for="repeat-password" class="form-label">Repetir senha</label>
            <input type="repeat-password" class="form-control" id="repeat-password" placeholder="Repetir senha">
        </div>
        <button type="submit" class="btn my-3 btn-accent-color">Registrar</button>
    </form>
    <button class="btn" [routerLink]="['/login']">Voltar para o login</button>
</div>