<div class="form-container" [ngClass]="{'hide': hide}">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Pedido de amizade</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                    (click)="closeModal()"></button>
            </div>
            <div class="modal-body">
                <form [formGroup]="form" (ngSubmit)="onSubmit()">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="floatingInput" placeholder="Username do convidado"
                            formControlName="username" required >
                        <label for="floatingInput">Username</label>
                    </div>
                </form>
                <div class="alert alert-success" role="alert" [ngClass]="{'hide': successMsg == ''}">
                    {{successMsg}}
                </div>
                <div class="alert alert-danger" role="alert" [ngClass]="{'hide': errorMsg == ''}">
                    {{errorMsg}}
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal"
                    (click)="closeModal()">Cancelar</button>
                <button type="button" class="btn btn-primary-color" (click)="onSubmit()">Enviar convite</button>
            </div>
        </div>
    </div>
</div>