<main>
    <div class="my-books">
        <div class="header p-4">
            <p class="title">Minhas galerias</p>
            <button class="btn btn-primary-color" (click)="openBookFormModal()">
                <i class="fas fa-plus"></i>
            </button>
        </div>

        <div class="container">
            <app-book-item *ngFor="let item of books" [book]="item" (click)="selectBook(item)"></app-book-item>
        </div>
    </div>

    <div class="selected-book card">
        <div class="cover-image" style="background-image: url({{selectedBook.cover_image}}); background-size: cover; background-repeat: no-repeat; width: 100%; border-top-right-radius: 8px;">

        </div>

        <div class="container p-4">
            <h1 class="title">{{ selectedBook.title }}</h1>
            <p class="subtitle">{{ selectedBook.description }}</p>
        </div>

        <div class="gallery p-4" [ngClass]="{'hide': selectedBook.id == null}">            
            <div class="header p-3">
                <p class="title">Galeria de fotos</p>
                <button class="btn btn-primary-color" (click)="openPhotoFormModal()">
                    <i class="fas fa-plus"></i> Foto
                </button>
            </div>
            <div class="photo-container">
                <app-gallery [bookId]="selectedBook.id" [images]="aceptPhotos" [hide]="false" [hideImages]="false"></app-gallery>
            </div>

            <div class="header p-3">
                <p class="title">Pendentes de autorização</p>
            </div>
            <div class="photo-container">
                <app-gallery (emitClose)="getBooks()" [bookId]="selectedBook.id!" [images]="pendingPhotos" [hide]="false" [hideImages]="false"></app-gallery>
            </div>
        </div>
    </div>

</main>

<app-add-book-form [hide]="hideBookFormModal" (emitClose)="closeBookFormModal()"></app-add-book-form>
<app-add-photo-form [hide]="hidePhotoFormModal" (emitClose)="closePhotoFormModal()" [book]="selectedBook!"></app-add-photo-form>