main {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    display: flex;
}

.timeline-list {
    height: 100%;
    overflow-y: auto;
}

.timeline-container {
    height: 100%;
    width: fit-content;
}



/* timeline information */

.timeline-information {
    width: 35%;
    height: 100%;
    overflow-y: auto;
    padding: 8px;
}

.timeline-information .container {
    background: #fff;
    border-radius: 8px;
    box-shadow: 5px 5px 5px #9e9e9e;
}

.header {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
}

.avatar {
    border: 4px solid #fff;
}

.hide {
    display: none;
}