main {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
}

.timeline-list {
    height: 100%;
    width: 100%;
    max-width: 100vw;
    overflow-y: auto;
}

.timeline-container {
    height: 100%;
    width: 100%;
}

.requests {
    width: 400px;
}

.info {
    width: 100%;
    background-color: #fff;
}

.gallery .header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.gallery .header * {
    margin: auto 0;
}

@media only screen and (min-width: 950px) {
    .show-mobile-only {
        display: none;
    }
}

@media only screen and (max-width: 950px) {
    .timeline-list {
        padding: 16px;
    }

    .hide-mobile-only {
        display: none;
    }
}

.hide {
    display: none;
}